<div class="new-note-container">
            <form ng-submit="notesVM.addContainer()">
            <label for="new-container">New container: </label>
                <div class="input-group">
                
                    <input type="text" class="form-control" ng-model="newContainerName">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">+</button>
                    </span>
                </div>
            </form>
</div>

<div class="note-wrapper">

        <div class="note-container" ng-repeat="notecontainer in notes">
            <div class="note-container-name"><span>{{notecontainer.Name}} </span> <span title="Remove container" ng-click="notesVM.removeContainer(notecontainer)" class="glyphicon glyphicon-trash remove-container-icon"></span></div>
            
            <div class="note" ng-repeat="note in notecontainer.Notes">
                <label class="note-name" ng-class="{'note-completed': note.IsComplete}"><input type="checkbox" ng-model="note.IsComplete" ng-change="notesVM.onCheck(note, notecontainer)"> {{note.Content}}</label>
            </div>
            <form ng-submit="notesVM.addNote(notecontainer)">
                <div class="input-group note-add-container">
                    <input type="text" class="form-control" ng-model="notecontainer.newNote.Content">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">+</button>
                    </span>
                </div>
            </form>

             
        </div>

</div>