<div id="login-inject">

	<h2>Login</h2>

	<form id="login-form" name="loginForm">
		<div class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" id="username" ng-model="username" required>
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" id="password" ng-model="password" required>
		</div>

		<button type="button" class="btn btn-default" ng-click="loginVM.loginService.login(username, password)" ng-disabled="loginForm.$invalid">Login</button> <span>or <a ui-sref="register">register</a></span>
	</form>

</div>