<div id="register-inject">

	<h2>Register</h2>
<form id="register-form" name="registerForm" ng-submit="register(registration)" ng-init="valid=false">
        <div class="form-group">
			<label for="email">Email:</label>
			<input class="form-control" id="email" ng-model="registration.Email" ng-blur="registerVM.executeValidateEmail()" required>
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" id="password" ng-model="registration.Password" required>
		</div>

        <div class="form-group">
			<label for="confirm-password">Confirm password:</label>
			<input type="password" class="form-control" id="confirm-password" ng-model="registration.ConfirmPassword" required>
		</div>

		<p style="color:red;" ng-show="registration.Password!=registration.ConfirmPassword && registration.ConfirmPassword">Passwords must match</p>
		<p style="color: red;" ng-show="registration.Password.length < 6">Password must be at least 6 characters</p>
		<p style="color: red;" ng-show="showMailValidation">Please enter a valid e-mail address</p>

		<button type="submit" class="btn btn-default" ng-disabled="!canRegister">Register</button> <span>or back to <a ui-sref="login">login</a></span>
	</form>

</div>